#home {
  overflow-x: hidden;
  #banner {
    padding: 550px 0 150px 0;
    @media only screen and (max-width: 600px) {
      padding: 200px 0 50px 0;
    }
    h3 {
      font-size: 50px;
      @media only screen and (max-width: 600px) {
        font-size: 30px;
      }
    }
    background-image: url("../assets/images/home/Night-Aerial-View.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .des {
    padding: 150px 0;
    @media only screen and (max-width: 600px) {
      padding: 20px 0;
    }
    h1 {
      // color: #736357;
      margin-top: 20px;
      @media only screen and (max-width: 600px) {
        font-size: 30px;
      }
    }
    .main-text {
      // margin-top: -200px;
      // background-color: #ffbb00;
      background-color: #fff;
      padding: 100px;
      @media only screen and (max-width: 600px) {
        padding: 20px;
      }
    }
    .sub-text {
      // margin-top: -200px;
      background-color: #ffbb00;
      // background-color: #fff;
      padding: 100px;
      @media only screen and (max-width: 600px) {
        padding: 50px;
      }
      p {
        margin-top: 20px;
        font-size: 20px;
      }
    }
  }
  .happy-communities {
    background-image: url("../assets/images/home/dd.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    .score {
      padding: 50px 0;
      border: 3px solid #ffbb00;
      img {
        width: 100%;
        height: auto;
        max-width: 500px;
        padding: 20px;
      }
      img.icon {
        width: 100%;
        height: auto;
        max-width: 200px;
      }
    }

    h2 {
      font-size: 40px;
      // font-weight: bold;
      @media only screen and (max-width: 600px) {
        font-size: 30px;
      }
    }
  }
  .feature-projects {
    margin-top: 100px;
    h3 {
      font-weight: bold;
      color: #736357;
      font-size: 40px;
    }
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      color: #ffbb00;
      background-color: #736357;
    }
    .nav-pills .nav-link {
      color: #736357;
      // background-color: #736357;
    }
    .project {
      margin-top: 100px;
      @media only screen and (max-width: 600px) {
        margin-top: 50px;
      }
      img {
        width: 100%;
        height: auto;
      }
      .project-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        padding: 20px;
        @media only screen and (max-width: 600px) {
          height: auto;
          text-align: left !important;
        }
      }
      h4 {
        font-weight: bold;
        font-size: 30px;
        color: #736357;
      }
      p {
        font-size: 18px;
      }
      @media only screen and (max-width: 600px) {
        .sugam-park-img {
          margin-top: -700px;
        }
        .sugam-park-text {
          margin-top: 200px;
        }
      }
    }
  }
  .current-project {
    @extend .feature-projects;
    .heading {
      display: flex;
      justify-content: center;
    }
  }
  .features {
    margin-top: 200px;
    h3 {
      font-weight: bold;
      color: #736357;
      font-size: 40px;
    }
    h5 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }

    .card {
      border: none;
      img {
        width: 100px;
        height: 100px;
      }
      .card-body {
        height: auto;
      }
    }
    .card-title {
      font-weight: bold;
      color: #736357;
    }
    .feature {
      margin-top: 100px;
    }
  }
  .updates {
    margin-top: 100px;

    .heading {
      display: flex;
      // align-items: center;
      justify-content: center;
      h3 {
        text-align: center;
        font-weight: bold;
        color: #736357;
        font-size: 34px;
      }
    }
    .updates-images {
      margin-top: 50px;
      // height: 600px;
      img {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        @media only screen and (max-width: 600px) {
          height: auto;
        }
      }
    }
    .home-update-banner {
      margin-top: 50px;
      img {
        border-radius: 4px;
      }
    }
  }
}
